In [46]:
import numpy as np
import pandas as pd

In [47]:
df = pd.DataFrame(np.random.randn(5,4))

In [48]:
df

          0         1         2         3
0 -0.765359 -0.560998 -0.209899  0.941353
1 -1.196285 -1.607525  1.191866 -0.233517
2  0.239024 -1.697216  1.860250 -0.868241
3  0.700579 -1.041329 -0.829990  1.602110
4 -0.203317 -1.359759 -1.142708 -1.512480

In [49]:
df.columns = ["A", "B", "C", "D"]
df.index = pd.date_range(start=pd.datetime(2015,1,1), 
                         periods=5, freq='AS-Aug')

In [50]:
df

                   A         B         C         D
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517
2017-08-01  0.239024 -1.697216  1.860250 -0.868241
2018-08-01  0.700579 -1.041329 -0.829990  1.602110
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480

In [51]:
df["E"] = [np.nan, 0.1, -0.1, 1.1, np.nan]

In [52]:
df

                   A         B         C         D    E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353  NaN
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480  NaN

In [53]:
df.dropna(how="any")

                   A         B         C         D    E
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1

In [54]:
df.dropna(axis=1, how='all') #Drop column if they only contain missing values

                   A         B         C         D    E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353  NaN
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480  NaN

In [55]:
df.fillna(value=3) # df.fillna(0) with zeros

                   A         B         C         D    E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353  3.0
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480  3.0

In [56]:
df

                   A         B         C         D    E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353  NaN
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480  NaN

In [57]:
df.isnull() # boolean masks

                A      B      C      D      E
2015-08-01  False  False  False  False   True
2016-08-01  False  False  False  False  False
2017-08-01  False  False  False  False  False
2018-08-01  False  False  False  False  False
2019-08-01  False  False  False  False   True

In [59]:
df.loc[df.isnull()["E"],:] # F 열의 na 행만 선택

                   A         B         C         D   E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353 NaN
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480 NaN

In [60]:
df

                   A         B         C         D    E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353  NaN
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480  NaN

In [61]:
pd.to_datetime("20160801")

Timestamp('2016-08-01 00:00:00')

In [62]:
df.drop(pd.to_datetime("20160801"))

                   A         B         C         D    E
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353  NaN
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480  NaN

In [64]:
df.drop([pd.to_datetime("20150801"), pd.to_datetime("20190801")])

                   A         B         C         D    E
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517  0.1
2017-08-01  0.239024 -1.697216  1.860250 -0.868241 -0.1
2018-08-01  0.700579 -1.041329 -0.829990  1.602110  1.1

In [66]:
df.drop("E", axis=1) # as axis =1 implies that F is column

                   A         B         C         D
2015-08-01 -0.765359 -0.560998 -0.209899  0.941353
2016-08-01 -1.196285 -1.607525  1.191866 -0.233517
2017-08-01  0.239024 -1.697216  1.860250 -0.868241
2018-08-01  0.700579 -1.041329 -0.829990  1.602110
2019-08-01 -0.203317 -1.359759 -1.142708 -1.512480